/* GLOBAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    background: url('images/533217-rust-video-games.webp') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
    transition: all 0.3s ease-in-out; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background: #0C0B0B;
    color: #fff;
    padding: 1.5rem 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

header a {
    display: block;
    text-align: center;
}

header img.logo {
    height: 60px; 
}

/* Section Styles */
section {
    padding: 2rem 10%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    flex: 1; 
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p, section ul {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    max-width: 800px;
    margin: auto;
}

ul li {
    text-align: left;
}

/* Shop Section */
.shop-section {
    background-color: rgba(23, 22, 20, 0.8); 
    color: #fff;
    padding: 2rem 0;
    position: relative;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.shop-item {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Smooth transition for scale effect */
}

.shop-item img {
    max-width: 100%;
    width: 100%; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.shop-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.shop-item p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.shop-item .btn-buy {
    margin-top: 1rem; 
}

/* Hover effect for shop items */
.shop-item:hover {
    transform: scale(1.05); /* Scale up slightly */
}

.btn-buy, .btn-donate {
    background-color: #CE422B;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Smooth transition */
    font-size: 1rem;
}

.btn-buy:hover, .btn-donate:hover {
    background-color: #942F1F;
}

.btn-donate {
    width: 200px; 
    margin-top: 2rem; 
}

.donate-popup {
    display: none;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: auto;
    transition: opacity 0.3s ease-in-out; 
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    max-width: 500px;
    animation: slideDown 0.5s;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
}

@keyframes slideDown {
    from { top: -100%; }
    to { top: 0; }
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #D82A18;
    text-decoration: none;
    cursor: pointer;
}

.popup h2 {
    margin-bottom: 1rem;
}

.popup p, .popup ul {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.popup ul {
    padding-left: 1.5rem;
    list-style-type: disc;
}

.popup a {
    color: #CE422B;
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background: #0C0B0B;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    width: 100%; 
    position: relative;
    bottom: 0; 
    margin-top: auto; 
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1rem 0 0 0;
}

footer ul li {
    list-style: none;
    margin: 0 10px;
}

footer ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    margin-bottom: 20px;
}

footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    z-index: 3;
}

footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    z-index: 2;
}

footer ul li a:hover:before {
    top: 0;
}

/* Social Media Icon Colors */
footer ul li:nth-child(1) a:before {
    background: #586AEA; /* Discord */
}

footer ul li:nth-child(2) a:before {
    background: #0E2656; /* Steam */
}

footer ul li:nth-child(3) a:before {
    background: #000000; /* Twitter */
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .shop-items {
        flex-direction: row;
        gap: 1rem;
    }

    .shop-item {
        max-width: 45%;
    }
}

@media (max-width: 992px) {
    .shop-items {
        flex-direction: row;
        gap: 1rem;
    }

    .shop-item {
        max-width: 45%;
    }

    .shop-item h3 {
        font-size: 1.6rem;
    }

    .shop-item p {
        font-size: 1.1rem;
    }

    .btn-buy, .btn-donate {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .shop-items {
        flex-direction: column;
        gap: 1rem;
    }

    .shop-item {
        max-width: 70%; 
        margin: 0 auto;
    }

    .shop-item img {
        max-width: 100%;
        width: 100%; 
        height: auto;
    }

    .shop-item h3 {
        font-size: 1.4rem;
    }

    .shop-item p {
        font-size: 1rem;
    }

    .btn-buy, .btn-donate {
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    header img.logo {
        height: 50px;
        margin: 0;
    }

    .shop-items {
        display: block;
        text-align: center;
        margin-top: 1rem;
        padding: 0;
        overflow: hidden;
    }

    .shop-item {
        display: inline-block;
        margin: 0.5rem auto; 
        transform: scale(1);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    .shop-item p {
        display: block;
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }
}

@media (max-width: 576px) {
    .shop-items {
        flex-direction: column;
        gap: 1rem; 
    }

    .shop-item {
        max-width: 60%; 
        margin: 0.5rem auto; 
        padding: 1rem; 
    }

    .shop-item img {
        max-width: 100%;
        width: 100%; 
        height: auto;
    }

    .shop-item h3 {
        font-size: 1.2rem;
    }

    .shop-item p {
        font-size: 0.9rem;
    }

    .btn-buy, .btn-donate {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    header img.logo {
        height: 40px;
        margin: 0;
    }

    .shop-items {
        display: block;
        text-align: center;
        margin-top: 1rem;
        padding: 0;
        overflow: hidden;
    }

    .shop-item {
        display: inline-block;
        margin: 0.5rem auto; 
        transform: scale(1);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    .shop-item p {
        display: block;
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }

    .donate-popup {
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    header img.logo {
        height: 40px;
        margin: 0;
    }

    .shop-items {
        display: block;
        text-align: center;
        margin-top: 1rem;
        padding: 0;
        overflow: hidden;
    }

    .shop-item {
        display: inline-block;
        max-width: 50%; 
        margin: 0.5rem auto; 
        padding: 0.5rem; 
        transform: scale(1);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    .shop-item img {
        max-width: 100%;
        width: 100%; 
        height: auto;
    }

    .shop-item p {
        display: block;
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }

    .btn-buy, .btn-donate {
        padding: 0.5rem 0.8rem;
        font-size: 0.7rem;
    }

    .donate-popup {
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
}
